@page "/"

<PageTitle>PoBabyTouchGc</PageTitle>

<div class="home-container">
    <div class="game-title">
        <h1>PoBabyTouch</h1>
    </div>
    
    <div class="menu-buttons">
        <a href="/game" class="btn btn-primary btn-lg menu-button">Play Game</a>
        <a href="/game?mode=baby" class="btn btn-info btn-lg menu-button">Baby Mode</a>
        <a href="/leader" class="btn btn-secondary btn-lg menu-button">Leaderboard</a>
    </div>
    
    <div class="footer">
        <p>Version 1.0 &copy; 2025</p>
    </div>
</div>
