name: Build and Deploy to Azure

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Build and publish
        run: dotnet publish src/PoBabyTouchGc.Api/PoBabyTouchGc.Api.csproj -c Release -o ./publish
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9C9AD85F722F452C84272F18C534A51F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_74EE0A2986C64551BDB103FA94B3FC64 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FF244B77D8B0479E9764FCD6FBDE25B1 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'PoBabyTouch'
          resource-group-name: 'PoBabyTouch'
          package: ./publish
          